
/*
*{
    margin: 3px;
    padding: 3px;
}
*/

html,
body {
    background-color:black;
    color:#4d62ff;
    text-align: center;
    
}


nav {
    
    font-family: sans-serif;
        
}

nav a{
    text-decoration: none;
}

nav li{
    background-color: #6284c4;
    padding: 2px;
    margin: 4px;
    
}

nav li:hover {
    background-color: darkgray;
    
}



h1 {
    color:#FFFFFF;
    font-family:sans-serif;
    text-decoration: underline;
    text-decoration: bold;
    text-align: center;
}

h2 {
    color:#FFFFFF;
    font-family:sans-serif;
    text-decoration: underline;
    text-decoration: bold;
    text-align: center;
}


h3 {
    color:#FFFFFF;
    font-family:sans-serif;
    text-decoration: underline;
    text-decoration: bold;
    text-align: center;
}

p{
    font-family:sans-serif;
    text-decoration: bold;
    color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
}

img{
    opacity: 1.0; 
}


.generalinfo{
    text-align: left;
    background-image:url(images/generalinfo.jpg);
    background-size:cover;
    background-attachment: fixed;
    opacity: 0.7; 
    text-align: center;
    


}

.diodigi{
    text-align: ;
    background-image:url(images/diodigi.jpg);
    background-size:cover;
    background-attachment: fixed;
    opacity: 0.7; 
    text-align: center;


}

.whydigi{
    text-align: left;
    background-image:url(images/whydigi.jpg);
    background-size:cover;
    background-attachment: fixed;
    opacity: 0.7; 
    text-align: center;


}


.one{
    background-color: #000d71;
    height: 50px;
    width: 25%;
    float: left;
    
}
.two{
    background-color: #121296;
    height: 50px;
    width: 25%;
    float: left;
    
}
.three{
    background-color: #003dc7;
    height: 50px;
    width: 25%;
    float: left;
    
}
.four{
    background-color: #4b6dff;
    height: 50px;
    width: 25%;
    float: left;
    
}
